# Default ignored files
/shelf/
/target
.classpath
*.log
/workspace.xml
# Editor-based HTTP MyClient requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#.idea
.idea
*.iws
*.iml
*.ipr
/misc.xml
/modules.xml
/vcs.xml
#lib
/lib
#out
/out

